* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 475px;
    align-items: center;
}

header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

header ul a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    margin-right: 60px;
}

.hero .text button {
    align-self: flex-start;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border: transparent;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.hero .text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 450px;
}

.information {
    flex: 1;
}

.quote {
    background-color: #E5E7EB;
    flex: 1;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.call2action {
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 18px;
    color: #E5E7EB;
}